{% extends "/layouts/masterLogin.html" %}

{% block content %}
    <!-- /.login-logo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">{{ ('Login') }}</p>

            <form action="{{ ('login') }}" method="post">
                <div class="input-group mb-3">
                    <input id="email" type="email" class="form-control "
                        name="email"  placeholder="Email" required autocomplete="email"
                        autofocus>
                    <div class="input-group-append input-group-text">
                        <span class="fa fa-envelope"></span>
                    </div>
                </div>


                <div class="input-group mb-3">
                    <input id="password" type="password" class="form-control "
                        placeholder="Password" name="password" required autocomplete="current-password">
                    <div class="input-group-append input-group-text">
                        <span class="fa fa-lock"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                </div>
            </form>
            
        </div>

    </div>
{% endblock %}
